.header {
    background-color: #A9A9A9;
    padding: 20px;
    margin: 0 0 30px !important;
    height: 80px !important
}

.voted {
    color: #3ac53a;
    font-weight: bold
}

.awaiting_vote {
    color: #E80000;
    font-weight: bold
}

.voteValue {
   font-weight: bold
}